<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test_bootstrap.php" 
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Unit Test">
            <directory>./tests/</directory>
            <exclude>./tests/integration</exclude>
        </testsuite>
        <testsuite name="All">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Integration Test">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SERVER_KEY" value="62b15a7d-e5f8-4b3c-9eab-ca827ca37f55"/>
        <env name="CLIENT_KEY" value="156814b4-bf20-4e2b-8b87-073112fafb9a"/>
    </php>
</phpunit>